/** Main */
main {
  /** Add second bottom border */
  border-bottom: 5px solid black;
  margin-bottom: 5px;
}

/** Header */
header {
  justify-content: space-between;
}

/** Nav section */
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

/** Back button */
nav button {
  height: 2.5em;
  width: 75px;
}

/** Footer */
footer {
  border-top: 5px solid black;
  padding: 15px 25px;
}

/** Developer info */
footer p {
  text-align: center;
}

/** List of developer's links */
footer ul {
  list-style-type: none;
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: gray;
}

/** Dark Mode styles */
.dark nav button {
  background: rgb(20, 20, 20);
}

.dark main {
  border-bottom: 5px solid gray;
}

.dark footer {
  background: black;
  border-top: 5px solid gray;
}

.dark footer a {
  color: gray;
}

.dark footer a:hover {
  color: white;
}
