/** CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

/** Header */
header {
  height: 10vh;
  border-bottom: 5px solid black;
  padding: 0 25px;
  display: flex;
  align-items: center;
}

/** Main */
main {
  flex-grow: 1;
  margin-top: 5px;
  border-top: 5px solid black;
}

/** button style */
button {
  height: 3em;
  border-radius: 4px;
  background: black;
  color: white;
  font-weight: bold;
}
